# ==========================================
# ENVIRONMENT VARIABLES
# Copy this file to .env and update values
# ==========================================

# NiFi Credentials
NIFI_USERNAME=admin
NIFI_PASSWORD=adminadminadmin

# Mariadb env vars
MYSQL_USER=mag
MYSQL_PASSWORD=pass123
MYSQL_ROOT_PASSWORD=pass123
MYSQL_DATABASE=big_data
MYSQL_HOSTNAME=mariadb

# MongoDB Credentials
MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin_password

# API Keys
# ---- APIS ----
OPENSKY_USER=
OPENSKY_PASSWORD=

OPENWEATHER_API_KEY=

# ---- BASE URLs ----
OPENSKY_BASE_URL="https://opensky-network.org/api"
OPENWEATHER_BASE_URL="https://api.openweathermap.org/data/2.5"

# ---- CONFIG ----
DEFAULT_AIRPORT="KJFK"
DEFAULT_LAT="40.6413"
DEFAULT_LON="-73.7781"

# Intervalos de consulta (segundos)
WEATHER_INTERVAL=600
OPENSKY_INTERVAL=300 
